{% extends 'home/layout.html' %}

{% block content %}

    <div class="inner-banner has-base-color-overlay text-center">
        <div class="container">
            <div class="box">
                <h3>Help Center</h3>
            </div><!-- /.box -->
        </div><!-- /.container -->
    </div>
    <div class="breadcumb-wrapper">
        <div class="container">
            <div class="pull-left">
                <ul class="list-inline link-list">
                    <li>
                        <a href="{{ url_for('index') }}">首页</a>
                    </li>
                    <li>
                        <a href="{{ url_for('help') }}">帮助中心</a>
                    </li>
                    <li>
                        {{ title }}
                    </li>
                </ul><!-- /.list-line -->
            </div><!-- /.pull-left -->
        </div><!-- /.container -->
    </div>

    <section class="sec-padd faq bg-f7">
        <div class="container">
            <div class="art-wrapper">
                <div class="art-title">
                    <h1>新手经验:网站备案流程和注意事项</h1>
                    <p><span>发布时间：2016-11-21  </span>浏览次数：5382</p>
                </div>
                <div class="art-part">
                    <p style="text-indent: 2em;">当前，随着国家工信部对互联网行业管理力度的提升和规范化，在网站制作公司跟客户把网站做完成以后，政策规定网站需要通过备案才能正常访问。今天我们就聊聊网站备案的流程和体会以及一些注意事项。 </p>
                </div>
                <div class="art-part">
                    <h2>第一、现在网站备案需要准备的资料</h2>
                    <hr />
                    <p>1、以公司、企业名义备案，公司营业执照副本的复印件或打描件一式二份，网站负责人的身份证复印件和打描件（身份证正反面）一式二份，
                        网站负责人照片（需指定背景幕布的照片），一般是网站建设公司的服务人员带上幕布到客户单位照相，或客户到网站制作公司照相，再或网站负责人（客户）到服务器提供商指定的地方照相，网站核验单一式二份，核验单由网站建设公司提供，核验单上“网站负责人”处需签上网站负责人名字和加盖上公司的红色公章才能有效。 </p>
                    <br />
                    <p>2、以个人名备案，需要准备指定背景幕布的照片，个人身份证复印件和扫描件一式二份。核验单上“网站负责人”处签上个人名字（一式二份）。</p>
                <div class="art-part">
                    <h2>第二、现在网站备案的流程 </h2>
                    <hr />
                    <p>1、将自己准备好备案资料提供给服务器空间提供商，服务器商审核通过后，他们会将这些资料提交当地的备案部门进行最后审核。 </p>
                    <br />
                    <p>2、当地备案部门收到服务器商提交的客户网站备案资料后，会打电话进行核实，如果准确无误，网站合法正规，是肯定会通过备案的。</p>
                    <br />
                    <p>3、网站备案所需要时间：从客户提交备案资料给服务器空间商开始到备案通过共需20--30工作日。 </p>
                </div>

                <div class="art-part">
                    <h2>第三、现在网站备案注意事项 </h2>
                    <hr />
                    <p>1、资料要真实，电子邮箱要常用邮箱，不然打电话给你核实情况时，电话打不通或不真实，备案肯定通不过。我自己的网站因为当时电话填错了，
                        后来提交了第二次才通过备案。
                    </p>
                    <br />
                    <p>2、网站备案需耐心等待（20-30）个工作日，现在备案不像以前，以前自己在工信部备案
                        网站上提交个资料就行，现在是需要服务器商人工审核和备案部门人工审核的，所以时间
                        会慢些。只要网站合法正规，肯定会通过备案的，只是时间迟早罢了。
                    </p>
                    <br />
                    <p>
                        3、现在网上所谓的kuaisoubeian，我曾经也打听过，也有人要我花个几百钱做kuaisoubeian，
                        好像是在80-200元这个价位之间，但最终我没有采用kuaisoubeian，还是自己通过正规渠道进行的备案。
                        大家要知道，网站备案并不是备域名，而是备服务器。这也就是国外服务器为什么不用备案的原因了，
                        这些kuaisoubeian不知道他们是那里搞的服务器备的，这个有点不放心，万一哪天进行kuaisoubeian
                        的那些服务器出了什么问题，那么你的网站肯定会被关闭。所以这里还是奉劝大家通过正规备案好一些。
                        以免留下后患。
                    </p>
                    <br />
                    <p>
                        4、最重要的一点，网站备案通过后，备案部门会通知过手机短信的形式或电子邮件的形式（
                        这就是上面说到要填常用邮箱的重要性了）发一个备案号和备案密码给你。这个备案密码非
                        常重要，这是你以后如果还要进行其它网站备案的重要凭证，因为现在规定一个主体下
                        （例如：纳亿科技这个主体）如果有多个网站，那么除了第一次备案的网站外的其它的
                        网站只能通过备案密码在这个主体下进行接入，如果你的备案密码忘了的话，那么你要在这
                        个主体下进行其它网站备案是肯定通不过的。除非你再注册一个公司，这个新公司肯定是一个
                        新主体了。在实际工作中相信网站制作公司的很多服务人员都遇到过客户之前有网站备过案。
                        备案密码忘了，导致后来做的网站无法通过备案。所以注意，网站备案密码一定要记好。
                    </p>
                </div>
                <div class="art-footer">
                    <a href="ba-flow-1.html" class="prev-art"><span>下一篇：</span>网站备案流程</a>
                </div>
            </div>
        </div>
    </section>

{% endblock %}