{% extends 'home/layout.html' %}

{% block content %}

    <div class="inner-banner has-base-color-overlay text-center">
        <div class="container">
            <div class="box">
                <h3>Help Center</h3>
            </div><!-- /.box -->
        </div><!-- /.container -->
    </div>
    <div class="breadcumb-wrapper">
        <div class="container">
            <div class="pull-left">
                <ul class="list-inline link-list">
                    <li>
                        <a href="{{ url_for('index') }}">首页</a>
                    </li>
                    <li>
                        <a href="{{ url_for('help') }}">帮助中心</a>
                    </li>
                    <li>
                        {{ title }}
                    </li>
                </ul><!-- /.list-line -->
            </div><!-- /.pull-left -->
        </div><!-- /.container -->
    </div>

    <section class="sec-padd faq bg-f7">
        <div class="container">
            <div class="art-wrapper">
                <div class="art-title">
                    <h1>网站备案流程</h1>
                    <p><span>发布时间：2016-11-21  </span>浏览次数：5179</p>
                </div>
                <div class="art-part">
                    <p style="text-indent: 2em;">国家信息产业部最新网站备案系统已经成功上线运行，网站备案审核将越来越严格，以下是东莞市锐讯网络技术有限公司最新网站备案流程，请网站的主办者务必关注。</p>
                </div>
                <div class="art-part">
                    <h2>新增备案、新增网站备案、接入备案、备案变更这4类备案所需提供的资料：</h2>
                    <hr />
                    <p>
                        (1)、域名证书1份（域名所有人需和备案主体一致）
                    </p>
                    <p>
                        (2)、工商营业执照2份（个人不需要）；
                    </p>
                    <p>
                        (3)、企业法人身份证复印件2份；（个人不需要）
                    </p>
                    <p>
                        (4)、网站负责人身份证复印件2份；
                    </p>
                    <p>
                        (5)、网站负责人照片2张（带我司备案背景图找我司提供）；
                    </p>
                    <p>
                        (6)、前置审批的许可证复印件1份；（药品及医疗器械前置审批需要到当地省食品药品监督管理局申请办理）
                    </p>
                    <p>
                        (7)、网站负责人和企业法人不一致的需提供委托授权书一份（法人签字、单位公章）；
                    </p>
                    <p>
                        (8)、网站备案信息登记表纸质文档一份；
                    </p>
                    <p>
                        (9)、真实性核验单纸质文档一份(企业的要盖公章）；
                    </p>
                    <p>
                        (10)、网站备案安全承诺书一份(企业的要盖公章）；
                    </p>
                    <p>
                        (11)、服务器租用合同及合同附件原件1份（企业的要盖公章）；
                    </p>
                    <p>
                        (12)、新增网站备案、接入备案和备案变更的还需提供备案密码。 以上资料准备好后邮寄至我司，我司对资料进行核验，核验通过，提交管局审核，得到备案号。备案号出来之后可以绑定主机，正常访问网站；
                    </p>
                    <br />
                    <p>备注：备案核查时提供的网站内容的真实性，在网站能正常访问之后如果和备案核查时的内容不一致会直接关闭站和注销备案。 </p>
                    <br />
                    <p>例如： </p>
                    <p>
                        1，用户是个医药网站，就必须在药监局办理前置手续，而核查时未说明是医药相关，未作前置审批，接入商会关闭站和注销备案并且追究网站负责人相关责任。
                    </p>
                    <p>
                        2，备案用户信息填写的是康师傅有限公司，实际上网站打开的是统一有限公司，接入商会关闭站和注销备案并且追究网站负责人相关责任。
                    </p>
                    <p>
                        3，域名备案时，IP填写的是183.23.25.57，如果后期IP改变未联系接入商修改，接入商会关闭站和注销备案并且追究网站负责人相关责任。 目前涉及到前置审批内容的网站有：出版,电子公告服务, 广播电影电视节目,教育,文化,新闻,药品和医疗器械,医疗保健 。 1出版需要去当地省新闻出版局申请，2电子公告服务需要在当地的省通信管理局申请，（社区，二手店，论坛等）3广播电影电视节目需要到当地省广播电影电视局申请，4教育需要到当地省教育厅，5文化需要到当地的省文化厅申请，6新闻需要到当地省人民政府新闻办公室申请，7药品及医疗器械需要到当地省食品药品监督管理局申请，8医疗保健需要到当地省卫生厅申请。
                    </p>
                    <div class="art-footer">
                        <a href="ba-flow.html" class="prev-art"><span>上一篇：</span>新手经验:网站备案流程和注意事项</a>
                        <a href="###" class="next-art"><span>下一篇：</span>网站备案须知</a>
                    </div>
                </div>
            </div>
    </section>

{% endblock %}