{% extends 'home/layout.html' %}


{% block content %}
    <div class="inner-banner has-base-color-overlay text-center">
        <div class="container">
            <div class="box">
                <h3>Help Center</h3>
            </div><!-- /.box -->
        </div><!-- /.container -->
    </div>
    <div class="breadcumb-wrapper">
        <div class="container">
            <div class="pull-left">
                <ul class="list-inline link-list">
                    <li>
                        <a href="{{ url_for('index') }}">首页</a>
                    </li>
                    <li>
                        <a href="{{ url_for('help') }}">帮助中心</a>
                    </li>
                    <li>
                        {{ title }}
                    </li>
                </ul><!-- /.list-line -->
            </div><!-- /.pull-left -->
        </div><!-- /.container -->
    </div>

    <section class="sec-padd faq bg-f7">
        <div class="container">
            <div class="art-wrapper">
                <div class="art-title">
                    <h1>网站备案须知</h1>
                    <p><span>发布时间：2016-11-21  </span>浏览次数：4892</p>
                </div>
                <div class="art-part">
                    <p style="text-align: center;font-size: 18px">单位或个人网站备案须知</p>
                </div>
                <div class="art-part">
                    <h2>一、互联网备案法律依据 </h2>
                    <hr />
                    <p>
                        1、《中华人民共和国计算机信息系统安全保护条例》第十一条规定：“进行国际联网的计算机信息系统由计算机信息系统使用单位报省级以上人民政府公安机关备案”；
                    </p>
                    <p>
                        2、《计算机信息网络国际联网安全保护管理办法》第十二条规定：“互联单位、接入单位、使用计算机信息网络国际联网的
                        法人和其他组织(包括跨省、自治区、直辖市联网的单位和所属的分支机构)应当自网络正式联通之日起三十日内，
                        到所在地的省、自治区、直辖市人民政府公安机关指定的受理机关办理备案于续。”；
                    </p>
                    <p>
                        3、《公安部关于对与国际联网的计算机信息系统进行备案工作的通知》等有关法律法规规定。
                    </p>
                </div>
                <div class="art-part">
                    <h2>二、备案范围  </h2>
                    <hr />
                    <p>凡是在武威市凉州区行政区域范围内的互联网接入单位、信息服务单位及与国际互联网联网的单位(或个人)均应当在网络正式联通后的三十日内，到凉州区公安局网络安全保卫大队登记备案。
                        其中信息服务单位有以下几种情况： </p>
                    <p>
                        l、网站的系统维护权及服务器都落于武威市凉州区的，只需到凉州区公安局网络安全保卫大队进行备案登记；
                    </p>
                    <p>
                        2、网站系统维护权落于武威市凉州区，服务器托管于外地的，要先到凉州区公安局网络安全保卫大队备案登记，再到服务器托管的所在地公安部门备案登记；
                    </p>
                    <p>
                        3、网站系统维护权落于外地，服务器托管于武威市凉州区的，要先到系统维护权所在地公安主管部门备案登记，再到凉州区公安局网络安全保卫大队备案登记。

                    </p>
                </div>
                <div class="art-part">
                    <h2>三、备案程序   </h2>
                    <hr />
                    <p>
                        l、备案单位提交网络安全保卫部门统一制定的《网站建设调查统计表》一式两份至凉州区公安局网络安全保卫大队。
                    </p>
                    <p>
                        2、通过登录武威市公安局网站备案系统提交《网站备案登记表》，同时向凉州区公安局网络安全保卫大队提供纸质版一式两份。
                    </p>
                    <p>
                        3、材料审查。对于单位网站或个人网站，需提交要求的纸质备案材料，凉州区公安局网络安全保卫大队根据提供的备案材料(详见网站备案材料清单)予以审核。
                    </p>
                    <p>
                        4、审查合格后，各单位领取互联网备案登记证，同时下载由市公安局网安支队统一编配的武威市互联网备案编号及图标。
                    </p>
                    <p>
                        5、在联网单位完成备案一至二周内，公安机关网络安全保卫部门将对各单位安全制度、措施落实情况进行实地检查。
                    </p>
                    <p>
                        6、互联网接入单位、信息服务单位及与国际互联网联网的单位的联网方式、提供网络服务内容变更或者终止联网时，应当在5日内到凉州区公安局网络安全保卫部门办理变更登记。
                    </p>
                </div>
                <div class="art-part">
                    <h2>备案罚则    </h2>
                    <hr />
                    <p style="text-indent: 2em;">
                        对不按规定履行备案义务，不落实安全管理制度和措施的，将由公安机关按照《中华人民共和国计算机信息系统安全保护条例》第二十条，《计算机信息网络国际联网安全保护管理办法》第二十一条、第二十三条，予以警告、罚款、停机整顿等处罚。
                    </p>

                </div>
                <div class="art-footer">
                    <a href="ba-flow-1.html" class="prev-art"><span>上一篇：</span>网站备流程</a>
                </div>
                </div>
            </div>
    </section>

{% endblock %}