{% extends 'home/layout.html' %}

{% import 'ui/nav.html' as nav %}

{% block content %}


    <div class="inner-banner has-base-color-overlay text-center">
        <div class="container">
            <div class="box">
                <h3>Contact Us</h3>
            </div><!-- /.box -->
        </div><!-- /.container -->
    </div>
    <div class="breadcumb-wrapper">
        <div class="container">
            <div class="pull-left">
                <ul class="list-inline link-list">
                    <li>
                        <a href="{{ url_for('index') }}">首页</a>
                    </li>
                    <li>
                        <a href="javascript:;">联系我们</a>
                    </li>
                    <li>
                        商务合作
                    </li>
                </ul><!-- /.list-line -->
            </div><!-- /.pull-left -->
        </div><!-- /.container -->
    </div>

    <section class="sec-padd">
        <div class="container">
            <div class="row">
                {{ nav.active('coop', nav_data) }}
                <div class="col-md-8 col-sm-8 col-xs-12 mg-40">
                    <div class="cooperation-item">
                        <h1>商务合作</h1>
                        <h2>锐讯网络为有志在互联网基础业务领域深耕细作的企业提供了良好的运营条件和丰富资源，
                            并提供高水平、高效率的技术支持和客户服务。诚征精诚合作，倡导互惠共赢。
                        </h2>
                        <h3>合作要求：</h3>
                        <p>1. 具有互联网业务基础知识和相关业务的销售经验</p>
                        <p>2. 具有工商营业执照等业务合法经营资格</p>
                        <p>3. 具有出色的行业推广和客户服务能力</p>
                        <p>4. 对客户重承诺，守信用，忠于并时刻维护代理品牌的公司形象</p>
                        <p>5. 在互联网行业内具有很好的用户基础</p>
                    </div>
                    <div class="cooperation-item">
                        <h1>宣传合作</h1>
                        <h2>无论是IDC，还是网站建设，只要您稍有研究，就会看到或听到锐讯网络的名字。
                            在这个领域里，锐讯网络已经深耕细作了3年，我们的资源、我们的产品、我们的服务、
                            我们的品牌，每一个都是市场高度关注的亮点，我们期望这些亮点能够通过您的平台反射
                            到互联网的每一个角落，同时也能装点您的无限远景。
                        </h2>
                        <h3>合作要求：</h3>
                        <p>1. IT行业内报纸杂志媒体</p>
                        <p>2. IT行业内网站</p>
                        <p>3. 各种与IT行业相关的大型会议，展览，论坛等活动组织</p>
                    </div>
                    <div class="cooperation-item">
                        <h1>资源合作</h1>
                        <h2>
                            3年前，锐讯网络以专业的IDC服务商形象进入互联网市场，如今，锐讯网络已经发展成为专业的互联网
                            业务平台提供商，汇集海量的电信和互联网资源，为分布在全国各地的客户提供“一站式”服务，本着
                            资源共享、互惠互利的原则，锐讯网络积极寻求与合作伙伴的共同发展。 资源有限，发展无界，
                            锐讯网络期待更多的合作伙伴加入资源共享计划
                        </h2>
                        <h3>合作要求：</h3>
                        <p>1. 各大基础电信运营商IDC资源</p>
                        <p>2. 各大系统内网络、卫星通讯网、无线网络、3G网络资源</p>
                        <p>3. 各大ISP带宽机房资源</p>
                    </div>
                    <div class="cooperation-item">
                        <h1>销售服务</h1>
                        <h2>锐讯网络是国内领先的互联网业务平台提供商，持有中华人民共和国信息产业部颁发的省市经营增值
                            电信业务（IDC、ISP）经营许可证；锐讯网络面向国内外用户提供包括数据中心业务（IDC）
                            主机租用业务、专线组网业务等方面的专业服务。
                        </h2>
                        <h3>合作要求：</h3>
                        <p>1. 对主机托管、主机租用以及专线接入有购买需求的客户</p>
                        <p>2. 希望了解锐讯网络产品、技术、解决方案的客户</p>
                        <p>3. 锐讯网络代理商、合作伙伴、媒体报道</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}